@import "tailwindcss";

@theme inline {
  --font-myzar: var(--font-myzar);
  --font-space-grotesk: var(--font-space-grotesk);

  --color-space-bg: #000216;
  --color-space-card: #151528;
  --color-space-border: #242C5B;

  --color-space-text: #FFFFFF;
  --color-space-muted: #602455;

  --color-space-cyan: #5A79B3;
  --color-space-pink: #A0618A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}

.font-display {
  font-family: var(--font-myzar), sans-serif;
}

.font-body {
  font-family: var(--font-space-grotesk), sans-serif;
}
