@import "tailwindcss";

@theme inline {
  --font-display: var(--font-myzar);
  --font-body: var(--font-ibm-plex-mono);
  --font-script: var(--font-script);

  --color-bg: #000216;
  --color-card: #151528;
  --color-border: #242C5B;

  --color-text: #FFFFFF;
  --color-purple: #602455;
  --color-gray: #65717F;

  --color-blue: #5A79B3;
  --color-cyan: #6FFFE8;
  --color-pink: #A0618A;

  --color-silver1: #C2D1E0;
  --color-silver2: #525D6B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000216;
    --foreground: #FFFFFF;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-mono), sans-serif;
}
